// @mixin flex-row {
//     display: flex;
//     flex-direction: row;
//   }
  
  // @mixin flex-column {
  //   display: flex;
  //   flex-direction: column;
  // }

  html {
    box-sizing: border-box;
  }
   
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  * {
    font-family: $font-family;
  }

  .main {
    @include flex-column;
    width: 100vw;
    align-items: center;
  }

  .content {
    width: 80%;
  }
  
  .header {
    background-color: rgb(236, 226, 226);
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    height: 15rem;
    width: 100vw;
    
    &__content {
    width: 80%;
    @include flex-column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    
  
    @media (min-width: 600px) {
      @include flex-row;
      justify-content: space-between;
    }
  }
}

  .titles {
    @include flex-column;
    padding: 2rem;
  }
  
  .logo {
    width: 6rem;
  }
  
  .nav {
    @include flex-row;
    justify-content: space-between;
    width: 15rem;

      &__link {
        text-decoration: none;
        color: grey;
      }
  }

.img__div {
  height: 50%;
  margin: auto;
}

  .img {
    width: 100%
  }

  .info {
    @include flex-column;
    align-items: space-between;
    height: 18rem;
    justify-content: space-around;

    @media (min-width: 600px) {
      @include flex-row;
      justify-content: space-between;
    }
  }

  .info__sub {
    font-size: $text-size-h3;
    margin-top: -1px;
  }

  .map__container {
    height: 40rem;
    z-index: 99;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  .footer {
    @include flex-column;
    align-items: center;
    background-color: rgb(66, 64, 64);
    height: 19rem;
    justify-content: center;
    justify-content: space-around;
    margin-top: -3rem; 
    padding: 4rem;
    z-index: -1;
  }
  
  .footer__nav {
    @include flex-row;
    width: 15rem;
    justify-content: space-around;
    margin-top: 5rem;

      &__link {
        color: white;
      }
  }

  .footer__sub {
    @include flex-column;
    align-items: center;
    

      &__hash {
        color: white;
        font-size: 18px;
        margin: 2rem;
      }

      &__links {
        color: white;
      }
  }

  .socialmedia {
    color: $color-links-blue;
  }

