@mixin flex-row {
    display: flex;
    flex-direction: row;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }

  html {
    box-sizing: border-box;
  }
   
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  * {
    font-family: $font-family;
  }

  body {
    height: 100vw;
    width: 100vw;
  }

  .main {
    @include flex-column;
    max-width: 80%;
    padding-left: 12rem;
    padding-right: 12rem;
    align-items: flex-start;
  }
  
  header {
    background-color: rgb(236, 226, 226);
    @include flex-column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    height: 15rem;
  
    @media (min-width: 600px) {
      @include flex-row;
      justify-content: space-between;
    }
  }

  .titles {
    @include flex-column;
  }
  
  .logo {
    width: 6rem;
  }
  
  .nav {
    @include flex-row;
    justify-content: space-between;
    width: 15rem;

      &__link {
        text-decoration: none;
        color: grey;
      }
  }

  .img {
    height: 45rem;
  }

  .info {
    @include flex-column;
    align-items: space-between;
  }

  .footer {
    @include flex-column;
    align-items: center;
    background-color: rgb(66, 64, 64);
    height: 12rem;
  }
  
  .footer__nav {
    @include flex-row;
    width: 15rem;
    justify-content: space-around;

      &__link {
        color: white;
      }
  }

  .footer__sub {
    @include flex-column;
    align-items: center;
    

      &__hash {
        color: white;
        font-size: 18px;
      }

      &__links {
        color: white;
      }
  }

  .socialmedia {
    color: $color-links-blue;
  }

