* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.coffee {
  width: 70%;
  margin-left: 15%;
  margin-left: 15%;
}

.menu__title {
  margin-top: 3%;
}

.menu__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.espresso {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.espresso__price {
  display: flex;
  justify-content: space-between;
}

.special__price {
  display: flex;
  justify-content: space-between;
}

.special {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.espresso__title {
  font-size: $text-size-h3;
  margin: 3% 0;
}

.special__title {
  font-size: $text-size-h3;
  margin: 4% 0;
}

.beverages {
  width: 70%;
  margin-left: 15%;
  margin-left: 15%;
}

.beverages__title {
  font-size: $text-size-h3;
  margin-top: 2%;
}

.beverages__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.machine {

  text-align: center;
}

.machine-detail {
  position: relative;
  z-index: 1;
  width: 60%;
}


@media (min-width:320px) and (max-width:768px) {
  .menu__box {
    display: flex;
    flex-direction: column;
  }

  .espresso {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .special {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .menu__title {
    font-size: $text-size-h1;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .beverages__title {
    font-size: $text-size-h3;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}