$color-background-darkgrey: #343a40;
$color-background-lightgrey: #f0f1f2;
$color-background-white: white;
$color-text-lightblue:#47aeff;
$color-links-blue: #167ac5;
$color-text-lightgrey:#A4A5A6;
$color-text-darkgrey:#050405;


$text-size-basis: 16px;
$text-size-h1: 3rem;
$text-size-h2: 2rem;
$text-size-h3: 1.5rem;
$text-size-p:1rem;
$font-family: 'Roboto Condensed', sans-serif;